APP_HOST='0.0.0.0'
APP_PORT='8080'
APP_KEY='APP_KEY'
HTTP_PORT='8000'
HTTPS_PORT='8443'
DDNS_PORT='1234'
HOST_ADDR=example.thddns.net

DB_USER='postgres'
DB_PASS='postgres'
DB_NAME='postgres'
DB_PORT='5432'