# Global Configuration
GLOBAL_NAME=shlink
RESTART_POLICY=unless-stopped
TIMEZONE=Asia/Bangkok
HEALTHCHECK_INTERVAL=30s
HEALTHCHECK_TIMEOUT=10s
HEALTHCHECK_RETRIES=3

# Postgres Configuration
POSTGRES_CONTAINER_NAME=postgres_db
POSTGRES_IMAGE_NAME=docker.io/postgres
POSTGRES_IMAGE_VERSION=16-alpine
POSTGRES_PORT=5432
POSTGRES_ROOT_PASSWORD=shlink
POSTGRES_USER=shlink
POSTGRES_PASSWORD=shlink
POSTGRES_DATABASE=shlink

# Database Connection Configuration
DB_DRIVER=postgres
DB_HOST=postgres
DB_PORT=5432

# Shlink Configuration
SHLINK_CONTAINER_NAME=shlink_app
SHLINK_IMAGE_NAME=docker.io/shlinkio/shlink
SHLINK_IMAGE_VERSION=3.7.2
SHLINK_HTTP_PORT=8080
SHLINK_API_KEY=changeme
SHLINK_APP_URL=http://localhost
DDNS_ADDR=localhost
SHORT_DOMAIN_SCHEMA=https
IS_HTTPS_ENABLED=false
SHELL_VERBOSITY=3

# Shlink Web Configuration
SHLINK_WEB_CONTAINER_NAME=shlink_web_app
SHLINK_WEB_IMAGE_NAME=docker.io/shlinkio/shlink-web-client
SHLINK_WEB_IMAGE_VERSION=3.10.0
SHLINK_WEB_HTTP_PORT=80
SHLINK_WEB_HTTPS_PORT=443